[user]
	name = Jochen Keil
	email = jochen.keil@emlix.com
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = /home/jkeil/.gitignore
	pager = less -FXRS
	editor = vim
[merge]
	tool = gvimdiff
