[user]
	name = Jochen Keil
	email = jochen.keil@gmail.com
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = /home/jochen/.gitignore
	pager = less -FXRS
	editor = vim
[merge]
	tool = vimdiff
[tar "tbz"]
	command = bzip2 -c
[tar "tar.bz2"]
	command = bzip2 -c
[alias]
	ctags    = !.git/hooks/ctags
	l        = log
	lp       = log -p
	lg       = log --graph --date=relative \
		--pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset'
	s        = status
	cl       = clone
	c        = commit
	cv       = commit -v
	ca       = commit -v --amend
	cf       = commit --fixup
	co       = checkout
	cp       = checkout -p
	a        = add
	ap       = add -p
	r        = reset
	rp       = reset -p
	di       = diff
	ps       = push
	pl       = pull
[push]
	default = simple
