[user]
	name = Jochen Keil
	email = jochen.keil@gmail.com
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = /home/jochen/.gitignore
	pager = less -FXRS
	editor = vim
[merge]
	tool = vimdiff
[tar "tbz"]
	command = bzip2 -c
[tar "tar.bz2"]
	command = bzip2 -c
[init]
	templatedir = ~/.git_template
[alias]
	ctags = !.git/hooks/ctags
	l = log
	lp = log -p
	s = status
	c = commit -v
	ca = commit -v --amend
	co = checkout
	cp = checkout -p
	a = add
	ap = add -p
	r = reset
	rp = reset -p
	sm = submodule
	ps = push
	pl = pull
